<div class="container">

  <form class = "container__form" action="" [formGroup] = "todoForm" (ngSubmit) = "onSubmit(todoForm)">
    <input type="text" formControlName = "description">
    <button>Create todo</button>
  </form>

  <div class="container__item" *ngFor="let item of storage">
    <input [checked] = "item.completed" type="checkbox" name="" id="" (click)="completeTask(item.id)">
    <p [ngClass]="{completed:item.completed}">{{item.description}}</p>
    <button (click) = "delete(item.id)">Удалить</button>
  </div>
  
</div>